# General
.DS_Store
.idea
.vscode

# Backend
backend/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
backend/.pytest_cache/
backend/instance/
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/coverage/
frontend/build/
